.contentContainer{
    margin:15px 0px 50px 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
}
.container{
  background: #e9ecef;
}
.wrapper {
    position: "relative";
    top: "0";
    height: "100vh";
  }
  .mainPanel {
    /* [theme.breakpoints.up("md")]: {
      width: `calc(100% - ${drawerWidth}px)`
    }, */
    overflow: "auto";
    position: "relative";
    float: "right";
    maxHeight: "100%";
    width: "100%";
    overflowScrolling: "touch";
  }
  .content {
    marginTop: "70px";
    padding: "30px 15px";
    minHeight: "calc(100vh - 123px)";
  };
  .map {
    marginTop: "70px";
  }